<h2>Welcome to RoPA</h2>
{{!-- <body> --}}
    <header>
        <nav>
            <a href="/department"> Departments </a>
            <br>
            <a href="/ROPA/create">Create a New RoPA</a>
        </nav>
    </header>
{{!-- </body> --}}