<head>Department RoPA's Details</head>

<h1>{{departmentName.departmentName}}</h1>
<hr>
<p>Purpose of Processing: {{departmentName.purposeOfProcessing}}</p>
<p>Legal Basis: {{departmentName.legalBasis}}</p>
<a href="/department">back</a>